@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  margin: 0;
  background: #ffffff;
}

.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 20px;
  min-height: 80vh;
}
.question-container .question-left {
  flex: 1;
}
.question-container .question-left h4 {
  color: #3DCE94;
  font-weight: bold;
}
.question-container .question-left h2 {
  font-size: 24px;
  margin-top: 10px;
  color: #2A2324;
}
.question-container .question-left .options {
  margin-top: 30px;
}
.question-container .question-left .options .option {
  margin-bottom: 15px;
  padding: 10px 15px;
  background-color: #D9D9D9;
  border-radius: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 40rem;
}
.question-container .question-left .options .option input {
  margin-right: 10px;
}
.question-container .question-left .form-fields .form-group {
  margin-bottom: 20px;
}
.question-container .question-left .form-fields .form-group label {
  display: block;
  margin-bottom: 5px;
}
.question-container .question-left .form-fields .form-group input, .question-container .question-left .form-fields .form-group select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #AAA6A8;
}
.question-container .question-right {
  flex: 0 0 300px;
  text-align: center;
}
.question-container .question-right img {
  width: 200px;
  max-width: 100%;
  height: auto;
}

.navigation-buttons {
  text-align: center;
  margin: 30px auto 10px;
}
.navigation-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: #3DCE94;
  color: #ffffff;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
.navigation-buttons button:hover {
  background-color: #6dd6a7;
}

.progress-bar {
  height: 8px;
  background-color: #D9D9D9;
  margin: 0 auto 40px;
  width: 80%;
  border-radius: 5px;
  overflow: hidden;
}
.progress-bar .progress {
  height: 100%;
  background-color: #3DCE94;
  width: 0%;
  transition: width 0.3s ease;
}

.quiz__step {
  display: none;
}

.quiz__step.active {
  display: block;
}

.footer-container {
  position: relative;
  width: 1920px;
  height: 1024px;
  background-color: #363638;
  color: #fff;
  padding: 60px 20px;
  text-align: left;
}

.footer-main-heading {
  font-size: 64px;
  font-weight: bold;
  margin: 250px 0 20px 200px;
  display: block;
  text-align: center;
}

.footer-Jaso {
  position: absolute;
  right: 520px;
  bottom: 197px;
  gap: 50px;
}

.footer-jaso1,
.footer-jaso2 {
  margin: 0;
  line-height: 1.2;
  margin-right: 20px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin: -60px auto 0 398px;
}

.footer-heading {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}