// 變數 Color var
$color-white: #ffffff;
$color-gray: #AAA6A8;
$color-darkgray: #2A2324; // !default 預設值改444
$color-lightgray: #D4D4D4;
$color-light: #8FE3C1;
$color-deep: #3DCE94;
$color-level1: #B28247;
$color-level2: #909090;
$color-level3: #BBA435;

// alpha透明度
$alpha: transparent;
$alpha-w20: rgba(255, 255, 255, 0.2);
$alpha-w30: rgba(255, 255, 255, 0.3);
$alpha-w40: rgba(255, 255, 255, 0.4);
$alpha-w50: rgba(255, 255, 255, 0.5);
$alpha-b15: rgba(0, 0, 0, .15);
