.navbarWrapper {
  position: sticky;
  top: 0;
  z-index: 100;
  transition: opacity 0.4s ease, transform 0.4s ease;
  will-change: opacity, transform;
  
  // ✨讓空間不會塌陷
  height: 130px; // 請根據 Navbar 的實際高度設定
  display: flex;
  align-items: center;
}

.navHiddenWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1410px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 75px;
  border-radius: 50px;
  border: 1px solid rgba(200, 200, 200, 0.4);
  background: rgba(226, 226, 226, 0.25);
  box-shadow:
    2px 2px 2px 0px rgba(255, 255, 255, 0.25) inset,
    1px 5px 5.5px 0px rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(7.5px);
  z-index: 1000;

  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.fadeOut {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}