@charset "UTF-8";
@use "sass:map";

@use "../../function/reset" as *;
@use "../../variable/var-color" as *;
@use "../../variable/var-font" as *;
@use "../../variable/var-space" as *;
@use "../../variable/base" as *;


.navbarMain {
    display: flex;
    width: 100%;
    max-width: 1920px;
    height: 130px;
    // padding: 0px 240px 1px 240px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    z-index: 1;
    font-weight: $font-w-7;
    //整合嘗試1
      position: fixed;
  top: 0;
  width: 100%;

}

.navbarContainer {
    max-width: 1440px;
    margin: 0 auto;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

.navLeft {
    flex: 1;
    display: flex;
    align-items: center;
}

.navRight {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 48px;
}


.navbarCenter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbarLinks {
    display: flex;
    gap: 75px;

    ul {
        display: flex;
        gap: 75px;

        li a {
            color: $color-dark;
            font-weight: bold;
            font-size: map.get($font-size, 2xs);
            transition: color 0.3 ease;

            &:hover {
                color: $color-primary;
            }
        }
    }
}

.navMember a {
    color: $color-dark;
    padding: 0px 11px;
    border: 1px solid;
    border-radius: $radius-ex;
    font-size: map.get($font-size, 2xs);
    transition: color 0.3 ease;

    &:hover {
        color: $color-primary;
    }
}

.beanShape {
    background-color: $color-primary;
    width: 144px;
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-mask-image: url(/assets/0.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;


}

.goToShop a {
    color: $color-white;
    font-size: map.get($font-size, m);

    &:hover {
        color: $color-white;
    }
}
.shopIcon {
  width: 40px;
  height: 40px;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.navMember {
  position: relative;
.avatarWrapper {
  display: inline-block;
//   width:fit-content; 

}

.avatarContent {
  position: relative;
//   width:fit-content; 
  height: 32px;
  padding: 11px;
  white-space: nowrap;
}

.avatarIcon {
    align-items: center;
  width: 100%;
  height: 100%;
  display: block;
}

.userName {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;

    color: #3DCE94;
text-align: center;
font-size: 16px;
font-weight: 500;

}

/* Hover 切換效果 */
.avatarWrapper:hover .avatarIcon {
  display: none;
}

.avatarWrapper:hover .userName {
  display: flex;
}
.avatarWrapper:hover .avatarContent {
      width: auto;
      min-width: 80px; // 這裡設置最小寬度，保證容器不會縮小
      margin: 0 11px;

}

}     

.mobileMenu {
    background-color: $color-lightgray2;
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    padding: 24px 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 1;

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 16px;

            a {
                color: $color-dark;
                font-size: map.get($font-size, s);
                font-weight: bold;

                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
}

.navHamburger {
    display: none;
    cursor: pointer;
    //取消button預設樣式
    background-color: $alpha;
    border: none;

    .bar {
        display: block;
        width: 24px;
        height: 3px;
        background-color: $color-white;
        margin: 5px auto;
        transition: all 0.3s ease;
    }

    &.is-active {
        .bar {
            &:nth-child(1) {
                transform: rotate(45deg) translateY(6px) translateX(5px);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translateY(-6px) translateX(5px);
            }
        }
    }
}


@media ($media-sm) {
    .navbarMain {
        height: auto;
        padding: 10px 20px;
        z-index: 1;
    }

    .navbarContainer {
        flex-direction: row;
        justify-content: space-between;
        padding: 12px;
    }

    .navbarCenter {
        display: none;
    }

    .navRight {
        gap: 10px;
    }

    .navMember {
        display: none
    }

    .beanShape {
        width: 80px;
        height: 80px;

        .navHamburger {
            position: absolute;
            color: $color-white;
            display: block;
            z-index: 2;
        }
    }

    .goToShop a {
        display: none;
    }

}