@charset "UTF-8";
/* reset CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* 重置標題 */
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
}

/* 重置連接 */
a {
    color: var(--primary-color);
    text-decoration: none;
} 

main {
    max-width: 1440px;
    margin: 115px auto;
}

header {
    max-width: 1440px;
    margin: 0 auto;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
}
.navigation {
    border-radius: 50px;
    border: 1px solid rgba(200, 200, 200, 0.40);
    background: rgba(226, 226, 226, 0.25);
    box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.25) inset, 1px 5px 5.5px 0px rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(7.5px);
}
.navbar {
    padding-top: 15px; /* 單位別忘記 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-center ul {
    display: flex;
    gap: 80px; /* 改為固定距離 */
    font-weight: bold;
    list-style: none;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding-left: 259px;
}
.member {
    padding: 0px 15px;
    border: 1px solid;
    border-radius: 999px;
    font-weight: bold;
    font-size: 16px;
}
.bean-shape {
    align-items: center;
    background-color: #6dd6a7;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    -webkit-mask-image: url(./img/0.png);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    
    mask-image: url(./img/0.png);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}
.go-to-shop {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
#banner{
    padding-top: 10rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.title-top {
    display: flex;
    justify-content: space-between;
    gap: 230px;
    align-items: flex-end;
}
.banner-left {
    display: block;
    color: var(--Neutrue-Dark-gray, #2A2324);
    font-family: "Noto Sans TC";
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 127.638%;
    letter-spacing: 5.4px;
}
.line1 {
    display: flex;
    align-items: flex-end;
    font-size: 60px;
}
.banner-logo {
    width: 308px;
}
.line2 {
    display: flex;
    align-items: flex-end;
    font-size: 60px;
}
.banner-emoji {
    padding: 1rem 0;
}
.banner-right {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    align-items: center;
    justify-content: flex-end;
}
.banner-right .en {
    color: var(--Green-deep, #3DCE94);
    font-family: "Noto Sans TC";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145.842%; /* 20.418px */
    width: 18rem;

}
.banner-right .ch {
    color: #000;
    text-align: center;
    font-family: "Noto Sans TC";
    font-size: 15px;
    font-style: normal;
    font-weight: 350;
    line-height: 3rem; /* 22.971px */
    letter-spacing: 0.9px;

}
.update {
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--Green-deep, #3DCE94);
    width: 1210px;
    height: 49px;
    color: var(--Neutrue-White, #FFF);

    /* 段落1-18px */
    font-family: "Noto Sans TC";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 132%; /* 23.76px */
    letter-spacing: 2.52px;
 
}
.update .fixed {
    padding: 0 2rem;

}
.title-bottom {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/background1.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 455px;

}
#product {
    padding: 2rem 0;
}
.container {
    padding:5rem;
}
.dialog {
    background: #3DCE94;
        width: 160px;
      border-radius: 25px;
    padding: 20px 20px;
    border-radius: 20px;
    position: relative;
    color: white;
    display: inline-block;
  } 
  .rounded-triangle {
      position: relative;
      bottom: 70px;
      left:30px; 
      background-color: #3DCE94;
      transform: rotate(-60deg) skewX(-35deg) scale(1,.95);
  }
    .rounded-triangle:after {
      content: '';
      position:absolute;
      background-color: inherit;
      width:  20px;
      height: 25px;
      border-top-right-radius: 30%;
      transform: rotate(150deg) skewY(-45deg) scale(.780, 1.9) translate(50%);
    }
.card{
    display: flex;
    align-items: center;
    position: relative;
    left: 50px;
}
.card h2{
    padding: 20px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5;
}
.card span{
    display: block;
    font-size: 14px;
}
.card img{
    width: 100px;
    aspect-ratio: 1/1;
    vertical-align: middle;
}


