@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
/* reset CSS */
* {
  box-sizing: border-box;
  /*不要家邊框及內鉅*/
}

/* reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 重置字體 */
body {
  font-family: "Noto Sans TC", sans-serif, sans-serif;
  background: #ffffff;
  font-size: 100%;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans TC", sans-serif;
}

ul, ol {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

input, select, option {
  outline: none;
}

html,
body {
  overflow-x: hidden;
}

.banner1 {
  max-width: 1440px;
  margin: 115px auto 0 auto;
  padding-top: 10rem;
  justify-content: center;
  align-items: center;
}

.titleTop {
  display: flex;
  justify-content: space-between;
  gap: 230px;
  align-items: flex-end;
  padding: 0 5rem;
}

.bannerLeft {
  display: block;
  color: var(--Neutrue-Dark-gray, #2A2324);
  font-family: "Noto Sans TC";
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 127.638%;
  letter-spacing: 5.4px;
}

.line1 {
  display: flex;
  align-items: flex-end;
  font-size: 60px;
}

.bannerLogo {
  display: flex;
  align-items: flex-start;
}
.bannerLogo .bigLogo {
  width: 253px;
  padding-top: 2.5rem;
  align-items: flex-end;
}
.bannerLogo .logoPlus {
  width: 50px;
  align-items: flex-start;
}

.line2 {
  display: flex;
  align-items: flex-end;
  font-size: 60px;
}

.bannerEmoji {
  padding: 1rem 0;
}

.bannerRight {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: flex-end;
  justify-content: flex-end;
}

.bannerRight .en {
  color: #3DCE94;
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 145.842%;
  /* 20.418px */
  width: 18rem;
  text-align: right;
}

.bannerRight .ch {
  color: #000;
  text-align: right;
  font-family: "Noto Sans TC";
  font-size: 15px;
  font-style: normal;
  font-weight: 350;
  line-height: 3rem;
  /* 22.971px */
  letter-spacing: 0.9px;
}

.banner2 {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 455px;
  overflow: hidden;
}

.titleBottom {
  position: relative;
  width: 100%;
  height: 455px;
  max-width: 1325px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans TC";
}

.update {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3DCE94;
  width: 1210px;
  height: 49px;
  color: var(--Neutrue-White, #FFF);
  /* 段落1-18px */
  font-family: "Noto Sans TC";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 132%;
  /* 23.76px */
  letter-spacing: 2.52px;
  z-index: 1;
  cursor: pointer;
}
.update:hover {
  width: 1216px;
}
.update:hover .content {
  animation-play-state: paused;
}

.updateLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fixed {
  background-color: #3DCE94;
  font-family: "Noto Sans TC";
  display: flex;
  padding: 0 2rem;
  z-index: 1;
}

.updateRight {
  padding: 0 2rem;
  display: flex;
  justify-content: flex-end;
  font-family: "Noto Sans TC";
  z-index: 1;
  background-color: #3DCE94;
  transition: all 0.3s ease;
}
.updateRight img {
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.updateContent {
  max-width: 900px;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.content {
  font-family: "Noto Sans TC";
  width: fit-content;
  overflow: visible;
  position: relative;
  white-space: nowrap;
  /* 不換行 */
  overflow: hidden;
  /* 隱藏溢出文字 */
  text-overflow: unset;
  /* 超出顯示 ... */
  z-index: 0;
  animation: scroll-left 12s linear infinite;
}
.content:hover {
  animation-play-state: paused;
}

.backgroundLogo {
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(../../../public/images/logo-bg.svg);
  background-repeat: no-repeat;
  overflow: hidden;
  width: 1325px;
  height: 80%;
}

.chart {
  margin: auto;
  position: relative;
  height: 927px;
}

.background {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  margin: 0 auto;
}

.backgroundColor {
  width: 100%;
  position: relative;
  height: 927px;
  background: linear-gradient(180deg, #3DCE94 57.21%, #F9FFFA 100%);
  background-position: center center;
  background-size: cover;
  /* 填滿且保持比例，會裁切溢出的部分 */
  overflow: hidden;
  /* 確保內容不超出區塊 */
  z-index: 0;
  display: flex;
  justify-content: space-between;
}

.chartLeft {
  font-family: "Noto Sans TC";
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  z-index: 1;
}

.chartRight {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  /* 讓右側自動占滿可用空間 */
  z-index: 1;
}

.calc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.calc h3 {
  color: var(--Neutrue-White, #FFF);
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 127.638%;
  /* 76.583px */
  letter-spacing: 5.4px;
  padding: 5rem 0;
}

.calc p {
  color: var(--Neutrue-White, #FFF);
  /* 段落1-18px */
  font-family: "Noto Sans TC";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 132%;
  /* 23.76px */
  letter-spacing: 2.52px;
  display: flex;
  padding-bottom: 5rem;
}

.calcBtn {
  z-index: 1;
  color: #3DCE94;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 按鈕/18px */
  font-family: "Noto Sans TC";
  font-size: 18px;
  border: none;
  border-radius: 25px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 133px;
  height: 38px;
  flex-shrink: 0;
}
.calcBtn:hover {
  color: #FFF;
  border: none;
  border-radius: 25px;
  background-color: #3DCE94;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

/* .chart-right { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20rem;
    z-index: 1;
} */
.netWrapper {
  z-index: 1;
  width: 700px;
  height: 600px;
  /* position: relative; */
  /* 原本是 absolute，改為 relative */
  display: flex;
  justify-content: center;
  align-items: center;
}

.netCanvas {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.aboutAll {
  display: block;
  width: 1440px;
  margin: 0 auto;
}

.aboutContent {
  margin-top: 3rem;
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 203px;
}

.aboutLeft {
  display: flex;
  width: 311px;
  height: 345px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15rem;
}

.aboutRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
  margin-right: 15rem;
}

.aboutRight h1 {
  cursor: pointer;
  color: rgba(61, 206, 148, 0.59);
  text-align: right;
  /* font-family: "Noto Sans TC"; */
  font-family: "Noto Sans TC";
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: 96%;
  /* 122.88px */
  transition: transform 0.3s ease, color 0.3s ease;
}
.aboutRight h1.hovered {
  transform: scale(1.03);
  color: #3DCE94;
}

.plus {
  transition: transform 0.3s ease;
}
.plus:hover {
  transform: scale(1.05);
  animation: tiltRight 0.3s forwards;
}

.aboutRight .p {
  font-family: "Noto Sans TC";
}

.aboutBtn {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1.5rem;
  padding-right: 15rem;
  margin: 0 auto;
  transition: transform 0.3s ease;
}
.aboutBtn.hoveredBtn p {
  transform: scale(1.015);
  color: #AAA6A8;
}
.aboutBtn p {
  margin-left: 0.5rem;
  color: #3DCE94;
  font-family: "Noto Sans TC";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
  /* 37.2px */
  letter-spacing: 1px;
}

.pTitle {
  max-width: 1440px;
  margin: 0 auto;
  padding: 5rem;
  display: flex;
  flex-direction: column;
}

.people {
  width: 1440px;
  height: 1200px;
  margin: 0 auto;
}

.pTitle h1 {
  color: #000;
  font-family: "Noto Sans TC";
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 120px */
  letter-spacing: 1.6px;
}

.pTitle h3 {
  color: #3DCE94;
  /* 標題3-40px */
  font-family: "Noto Sans TC";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 60px */
  letter-spacing: 0.8px;
}

.doc1 {
  width: 550px;
  height: 633px;
  display: flex;
  justify-content: flex-end;
  /* padding: 139px 29.728px 460.728px 351px; */
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='425' height='360' viewBox='0 0 425 360' fill='none'%3E%3Cpath d='M325.428 180C325.428 279.411 620 360 191.428 360C85.7052 360 0 279.411 0 180C0 80.5887 85.7052 0 191.428 0C297.151 0 325.428 80.5887 325.428 180Z' fill='url(%23paint0_linear_1807_337)' fill-opacity='0.77'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1807_337' x1='210.5' y1='0' x2='210.5' y2='360' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%233DCE94'/%3E%3Cstop offset='1' stop-color='%23F9FFFA'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") no-repeat left bottom;
  background-size: 449px 349px;
}

.doc2 {
  width: 550px;
  height: 633px;
  display: flex;
  justify-content: flex-end;
  /* padding: 139px 29.728px 460.728px 351px; */
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='425' height='360' viewBox='0 0 425 360' fill='none'%3E%3Cpath d='M325.428 180C325.428 279.411 620 360 191.428 360C85.7052 360 0 279.411 0 180C0 80.5887 85.7052 0 191.428 0C297.151 0 325.428 80.5887 325.428 180Z' fill='url(%23paint0_linear_1807_337)' fill-opacity='0.77'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1807_337' x1='210.5' y1='0' x2='210.5' y2='360' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%233DCE94'/%3E%3Cstop offset='1' stop-color='%23F9FFFA'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") no-repeat left bottom;
  background-size: 449px 349px;
}

.intro1 {
  display: flex;
  justify-content: flex-start;
  margin-left: -6rem;
}

.intro2 span {
  color: #000;
  display: flex;
  /* 副標-24px */
  font-family: "Noto Sans TC";
  font-size: 24px;
  letter-spacing: 2.16px;
}

.intro2 p {
  color: #000;
  display: flex;
  /* 內文1-14px */
  font-family: "Noto Sans TC";
  font-size: 14px;
  line-height: 325%;
}

.intro3 {
  color: #000;
  /* 內文2-12px */
  font-family: "Noto Sans TC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 167%;
  /* 20.04px */
  letter-spacing: 1.08px;
}

.intro {
  padding-top: 1rem;
  padding-right: 2rem;
}

.teamLeft {
  padding-top: 20rem;
  display: flex;
  align-items: center;
}

.teamRight {
  display: flex;
  align-items: center;
}

.team {
  width: 1440px;
  height: 600px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.shop {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
}

.rightBackground::before {
  content: "";
  position: absolute;
  /* 背景圖要浮在右下 */
  top: 7rem;
  right: -15rem;
  background-size: cover;
  pointer-events: none;
  /* 不干擾點擊與滑鼠互動 */
  z-index: 0;
  width: 1274px;
  height: 850px;
  display: flex;
  justify-content: flex-end;
  transform: rotate(1.447deg);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='989' height='843' viewBox='0 0 989 843' fill='none'%3E%3Cpath d='M1022.77 431.744C1017.43 643.201 1884.81 702.555 607.882 804.383C288.174 796.304 33.3314 618.335 38.6744 406.878C44.0174 195.42 307.523 30.5487 627.23 38.6269C946.938 46.7051 1028.12 220.286 1022.77 431.744Z' fill='url(%23paint0_linear_1399_1157)' fill-opacity='0.77'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1399_1157' x1='684.904' y1='40.0842' x2='665.556' y2='805.84' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%233DCE94'/%3E%3Cstop offset='1' stop-color='%23F9FFFA'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") no-repeat bottom right;
  filter: blur(18.8px);
}

.containerSlides ul {
  display: grid;
  grid-template-columns: repeat(3, 8rem);
  /* 左中右 */
  grid-template-rows: repeat(3, 12rem);
  /* 上中下 */
  width: 100%;
  height: 100%;
  align-items: center;
  position: relative;
  z-index: 1;
}

.containerSlides li {
  width: 134px;
  justify-self: center;
  align-items: center;
}

.rTop {
  grid-column: 2;
  /* 中 */
  grid-row: 1;
  /* 上 */
}

.rMiddle {
  grid-column: 3;
  /* 右 */
  grid-row: 2;
  /* 中 */
}

.rBottom {
  grid-column: 1;
  /* 左 */
  grid-row: 3;
  /* 下 */
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  /* 左右平均，中間自適應寬度 */
  align-items: center;
  justify-items: center;
  position: relative;
}

.containerCenter {
  align-items: center;
  flex-shrink: 0;
  display: flex;
  justify-self: center;
  width: 598px;
  height: 736px;
  margin: auto 2rem;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 19.4px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;
  position: relative;
  cursor: pointer;
}

.centerCorner {
  cursor: pointer;
  position: absolute;
  bottom: 0%;
  right: -2%;
  width: 60px;
  height: 60px;
  background-size: cover;
  background-image: url(../../../public/images/icons/btn-shop.svg);
}
.centerCorner:hover {
  background-image: url(../../../public/images/icons/btn-shop-hover.svg);
}

.centerBox {
  margin: auto 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}
.centerBox:hover {
  transform: scale(1.05);
}

.centerBottom {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  width: 100%;
  height: 100%;
  align-items: flex-end;
}

.centerNeed {
  align-content: center;
  color: #3DCE94;
  font-family: "Noto Sans TC";
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
}

.span0 {
  color: #3DCE94;
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 132%;
  /* 31.68px */
  letter-spacing: 2.16px;
}

.span1 {
  color: #252527;
  /* 內文1-14px */
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.96px;
}

.span2 {
  color: #252527;
  /* 段落1-18px */
  font-family: "Noto Sans TC";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.62px;
}

.span3 {
  color: var(--2, #676767);
  /* 內文2-12px */
  font-family: "Noto Sans TC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 167%;
  /* 20.04px */
  letter-spacing: 1.08px;
}

.dialog {
  background: #3DCE94;
  width: 12rem;
  border-radius: 25px;
  padding: 20px 20px;
  border-radius: 20px;
  position: relative;
  color: white;
  display: inline-block;
  font-family: "Noto Sans TC";
  z-index: 1;
}
.dialog p {
  position: relative;
  z-index: 99;
}

.roundedTriangle {
  position: absolute;
  bottom: 5%;
  left: 50%;
  background-color: #3DCE94;
  transform: rotate(-60deg) skewX(-35deg) scale(1, 0.95);
  transform: translateX(-50%);
  width: 20px;
  height: 25px;
  z-index: 0;
  isolation: isolate;
}

.roundedTriangle::after {
  content: "";
  position: absolute;
  background-color: #3DCE94;
  width: 20px;
  height: 25px;
  border-top-right-radius: 30%;
  transform: rotate(130deg) skewY(-45deg) scale(0.78, 1.9) translate(50%);
  z-index: -1;
}

.role {
  padding-top: 2rem;
}

/* .card {
    position: relative;
    left: 50px;
} */
.card h2 {
  padding: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
}

.card span {
  display: block;
  font-size: 14px;
}

.card img {
  width: 100px;
  aspect-ratio: 1/1;
  vertical-align: middle;
}

.knowledge {
  width: 1440px;
  margin: 8% auto;
}

.kTitleLeft {
  display: flex;
  gap: 2rem;
  padding: 0 5rem;
}

.kTitleLeft h3 {
  color: #3DCE94;
  text-align: center;
  /* 標題1-64px */
  font-family: "Noto Sans TC";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 127px;
  /* 198.438% */
  letter-spacing: 3.84px;
}

.kTitleRight {
  z-index: 100;
  margin-right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 49px;
  border-radius: 30.95px;
  border: 1px solid #3DCE94;
  background: #3DCE94;
  cursor: pointer;
}
.kTitleRight:hover {
  border: 3px solid #3DCE94;
  background: var(--Neutrue-White, #FFF);
}
.kTitleRight:hover span {
  color: #3DCE94;
}

.kTitleRight span {
  padding: 13px 24px;
  gap: 10px;
  color: var(--Neutrue-White, #FFF);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 24px */
  letter-spacing: 1.44px;
}

.kTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.articles {
  font-family: "Noto Sans TC";
  padding: 0 5rem;
}

.article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, #F5F5F5 0%, transparent 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease;
  padding: 3rem 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  transition: all 0.3s ease;
}
.article:hover {
  background-color: #F5F5F5;
}
.article:hover .aLeft img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.article:hover .aRight {
  transition: transform 0.3s ease;
  transform: translateX(30px);
  gap: 4px;
}
.article:hover .aRight img {
  transition: transform 0.3s ease;
  transform: translateX(-80px);
}

.aLeft {
  width: 300px;
  height: 200px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aLeft img {
  transition: transform 0.3s ease;
}

.aCenter {
  width: 500px;
  padding-right: 3.5rem;
}

.aCenter .title {
  font-size: 18px;
  margin-bottom: 1rem;
}

.aCenter p {
  font-size: 14px;
  font-weight: 400;
  line-height: 167%;
  /* 20.04px */
  letter-spacing: 1.08px;
}

.aCenterWord {
  margin: rem auto;
}

.aCenter .tags {
  display: flex;
  width: fit-content;
  padding: 5px 19px;
  justify-content: center;
  align-items: flex-start;
  color: #3DCE94;
  text-align: center;
  font-weight: 500;
  line-height: 121%;
  font-size: 14px;
  border-radius: 999px;
  margin-top: 0.5rem;
  border: 1px solid #3DCE94;
  background: #E6FBF3;
}

.aRight {
  height: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 173%;
  color: #3DCE94;
  font-size: 14px;
  transition: all 0.3s ease;
}
.aRight img {
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.loginCta {
  padding: 5rem;
  font-family: "Noto Sans TC";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginCta h3 {
  color: #676767;
  font-size: 64px;
  letter-spacing: 14.08px;
}

.joinBtn {
  margin: 2rem;
  width: 520px;
  height: 66px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #3DCE94;
  cursor: pointer;
}
.joinBtn:hover {
  border: 3px solid #3DCE94;
  background: var(--Neutrue-White, #FFF);
}
.joinBtn:hover span,
.joinBtn:hover p {
  color: #3DCE94;
}

.joinBtn p {
  color: var(--Neutrue-White, #FFF);
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2.7px;
}

.joinBtn span {
  color: var(--Neutrue-White, #FFF);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.8px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes tiltRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(15deg);
  }
}
@media (max-width: 1440px) {
  main,
  footer {
    max-width: 1440px;
    /* 可選，讓區塊置中 */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}