@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
/* reset CSS */
* {
  box-sizing: border-box;
  /*不要家邊框及內鉅*/
}

/* reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 重置字體 */
body {
  font-family: "Noto Sans TC", sans-serif, sans-serif;
  background: #ffffff;
  font-size: 100%;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans TC", sans-serif;
}

ul, ol {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

input, select, option {
  outline: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
  padding: 60px 30px;
  text-align: center;
  width: 360px;
  max-width: 90%;
  animation: pop-in 0.3s ease;
}

.icon {
  display: block;
  width: 120px;
  margin-bottom: 32px;
}

.title {
  color: #27c59b;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 12px;
  font-family: "Noto Sans TC", sans-serif;
}

.text {
  color: #999;
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
}

/* 動畫 */
@keyframes pop-in {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}